<div class="row">

  <!-- Map Div -->
  <div class="col-xs-12 col-md-8 col-md-push-4">
    <div>
      <div id="mapDiv" class="map" bart-map></div>
      <div ng-show="position">
        Position:
        <p>{{ position | json}}</p>
      </div>
      <div ng-hide="position">
        Message:
        <p>{{ message }}</p>
      </div>
    </div>
  </div>

  <!-- Stations Div  -->
  <div class="col-xs-12 col-md-4 col-md-pull-8" style="height: 100%; overflow: auto">
    <div class="text-center" ng-hide="stations">
      <h3>Loading Stations...</h3>
      <img src="../images/loader.gif" alt="" />
    </div>

    <div ng-repeat="station in stations">
      <a href="#/trains/{{station.abbr}}">{{station.name}} ({{station.abbr}})</a></p>
      <div ng-repeat="train in station.etd">
        {{train.destination}}
        <span ng-repeat="departure in train.estimate"> | <img class="bartlinecolor" ng-src="/images/{{departure.color | lowercase}}.png" /> {{departure.minutes}}</span>
      </div>
      <hr />
    </div>
  </div>
</div>

</div>
